---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { fetchArticlesWithStatus } from "@/scripts/fetchArticles.js";
import { createTimeStrings } from "~/helpers/createTimeStrings";

export async function getStaticPaths() {
  const articles = await fetchArticlesWithStatus("Published");
  const paths = articles.map((article) => {
    const { publishedString, lastEditedString } = createTimeStrings(
      article.publishedDate,
      article.lastEditedTime
    );
    article.publishedString = publishedString;
    article.lastEditedString = lastEditedString;

    return {
      params: { article: article.slug },
      props: { article },
    };
  });
  return paths;
}

const { article } = Astro.props;
---

<BaseLayout title={article.title} description="Blog page">
  <h1>{article.title}</h1>
  <p>
    <i>
      Published on <time style="display: inline">{article.publishedString}</time>
    </i>
  </p>
  {
    article.lastEditedString && (
      <i>
        Last edited on{" "}
        <time style="display: inline">{article.lastEditedString}</time>
      </i>
    )
  }
  <div class="flow" set:html={article.content} />
</BaseLayout>
