---
import "@/base.css";

import Navigation from "@/components/Navigation.astro";
import Footer from "@/components/Footer.astro";
import Head from "./Head.astro";

interface Props {
  title: string;
  description: string;
  publishedDate?: Date;
  lastUpdatedDate?: Date;
}

const { title, description, publishedDate, lastUpdatedDate } = Astro.props;

const shouldShowLastUpdateDate =
  lastUpdatedDate && publishedDate && lastUpdatedDate > publishedDate;
---

<html lang="en">
  <Head title={title} description={description} />
  <body>
    <Navigation />
    <main id="main-content">
      <article class="wrapper region prose flow">
        <h1>{title}</h1>
        {
          publishedDate && (
            <p>
              <i>
                Published on{" "}
                <time class="inline">{publishedDate.toLocaleDateString()}</time>
              </i>
            </p>
          )
        }
        {
          shouldShowLastUpdateDate && (
            <p style="margin-top: auto">
              <i>
                Last updated on{" "}
                <time class="inline">
                  {lastUpdatedDate.toLocaleDateString()}
                </time>
              </i>
            </p>
          )
        }
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
